rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /databases/{database}/documents/8adOcBAhJcQ4QMdJ55IMRuTgnAk1/{cardId} {
      allow read;
    }
  }
}