<section *ngIf="baseballCard">
  <mat-card class="mat-elevation-z8 border-radius">
    <form (ngSubmit)="updateCard()">
      <mat-card-title>Edit Card</mat-card-title>
      <mat-card-subtitle>Enter Details Below</mat-card-subtitle>
      <mat-card-content>
        <div class="card-row row1">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Year"
              [(ngModel)]="baseballCard.year"
              name="year"
              required
              #yearInput="ngModel"
            />
            <mat-error *ngIf="yearInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Brand"
              [(ngModel)]="baseballCard.brand"
              name="brand"
              required
              #brandInput="ngModel"
            />
            <mat-error *ngIf="brandInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Card #"
              [(ngModel)]="baseballCard.cardNumber"
              name="cardNumber"
              required
              #cardNumberInput="ngModel"
            />
            <mat-error *ngIf="cardNumberInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Grade"
              [(ngModel)]="baseballCard.grade"
              name="grade"
              required
              #gradeInput="ngModel"
            />
            <mat-error *ngIf="gradeInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
        </div>
        <div class="card-row row2">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="First"
              [(ngModel)]="baseballCard.firstName"
              name="firstName"
              required
              #firstNameInput="ngModel"
            />
            <mat-error *ngIf="firstNameInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Last"
              [(ngModel)]="baseballCard.lastName"
              name="lastName"
              required
              #lastNameInput="ngModel"
            />
            <mat-error *ngIf="lastNameInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
        </div>
        <div class="card-row row3">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Buy Price"
              [(ngModel)]="baseballCard.buyPrice"
              name="buyPrice"
              required
              #buyPriceInput="ngModel"
            />
            <mat-error *ngIf="buyPriceInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Buy Date"
              [(ngModel)]="baseballCard.buyDate"
              name="buyDate"
              required
              #buyDateInput="ngModel"
            />
            <mat-error *ngIf="buyDateInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
        </div>
        <div class="card-row row4">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Selling Price"
              [(ngModel)]="baseballCard.sellingPrice"
              name="sellingPrice"
              required
              #sellingPriceInput="ngModel"
            />
            <mat-error *ngIf="sellingPriceInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Sold Price"
              [(ngModel)]="baseballCard.soldPrice"
              name="soldPrice"
              required
              #soldPriceInput="ngModel"
            />
            <mat-error *ngIf="soldPriceInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Sold date"
              [(ngModel)]="baseballCard.soldDate"
              name="soldDate"
              required
              #soldDateInput="ngModel"
            />
            <mat-error *ngIf="soldDateInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Notes"
              [(ngModel)]="baseballCard.notes"
              name="notes"
              #notesInput="ngModel"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button" color="primary" routerLink="/cards">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Update</button>
        <button mat-raised-button type="button" color="primary" (click)="openDialog()">Delete</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <!-- <button class="badge badge-danger mr-2" (click)="deleteCard()">
      Delete
    </button> -->

  <!-- <button
      type="submit"
      class="badge badge-success"
      (click)="updateCard()"
    >
      Update
    </button> -->
  <p></p>
</section>

<div *ngIf="!baseballCard">
  <br />
  <p>This id is not valid</p>
</div>
